<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyze Student</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<h2 align="center">Student Results</h2>
<h2 align = "center">Student netid: {{nid}}</h2>
<body>

{% if student|length == 0 %}
<h3 align = "center">Oops! We don't have any entries for that netID</h3>
{% endif %}
<table class = "table" align="center">
    <tbody>
    <tr>
    <th>Concept</th>
        <th>Function</th>
    <th>Mastery Level</th>

        {% for i in student %}

</tr>
    <tr>
    <td>{{i[0][0]}}</td>
    <td>{{i[0][1]}}</td>
    <td>{{i[1]}}</td>
</tr>
    {% endfor %}
    </tbody>

</table>

<p align = 'center'>NOTE: The above "mastery level" is a weighted average of your most recent quiz (weighted 60%) and all previous questions (weighted 40%)</p>
<p align = 'center'>However, if you haven't answered at least 5 questions on a certain topic, there isn't enough information to give an accurate mastery level</p>

</body>
</html>