<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<h2 style="text-align:center">Your question has been added</h2>
<h3 style="text-align:center">The added question has a question id of {{i}}</h3>
<body>
<form action=''style="text-align:center" method='POST'>

<button type="submit" name = "add" value="Choose a new concept">Add another question</button>
    <button type="submit" name = "analyze" value="More questions from this concept">Analyze student data</button>
    </form>

</body>
</html>