<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>

<h2 align="center">Welcome to the CS101 Instructor Page!</h2>
<h3 align= "center">You can either analyze student response data or add questions to the database</h3>

<body>

<form action='' method='POST' align = "center">

    <button type="submit" name = "data" value="Analyze Data">Analyze Data</button>
    <button type="submit" name = "question" value="Add more questions">Add questions</button>

</form>
<br>
<p align = 'center'>NOTE: We're always looking to add more features, so we'll update this page as we develop them. Also, you can click <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2Zfaya2YsaVcsnho9XXyIRKBO_WPe3SlArgKv28iKeLjtZw/viewform?usp=sf_link">here</a> to offer feedback about the website and suggest new features.</p>

</body>
</html>