<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Student</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<h3 align = 'center'>Enter the netID for the student</h3>
<body>

<form action="" method="POST" role="form">
<div style="text-align:center" class="form-group">
      <label for="netid">NetID for Student:</label>
<input type="text" class="form-control" id="netid" name = "netid"> <br><br>


<button type="submit" name = "student" value="Student-level statistics">Get Data</button>
    </div>
</form>
</body>
</html>